.marca {
    font-family: 'fira sans';
    font-size: 2.5rem;
    align-self: center;
}

.header {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.header-menu a::before{
    content: "";
    width: 0%;
    height: 4px;
    background: black;
    position: absolute;
    top:34px;
    left: 20px;
    transition-duration: 0.8s;
    position: absolute;
    transform: scaleX(-1);}


.header-menu a:hover::before{
    width: 80%;
}




.header-menu a {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: #141414;
    display: block;
    position: relative;
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    @media (max-width: 415px) {
        .header-menu {
            justify-content: center;
        }
    }
}